<div class="container">
  <div class="col-xs-12">
    <% if @model == "user" %>
    <h2>ユーザー search for '<%= @value %>'</h2>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Introduction</th>
            </tr>
        </thead>
    <% @datas.each do |user| %>
        <tbody>
            <tr>
                <th>
                    <%= attachment_image_tag(user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40') %>
                </th>
                <th>
                    <%= user.name %>
                </th>
                <th>
                    <%= user.introduction %>
                </th>
                <th>
                    <%= link_to 'Show', user_path(user) %>
                </th>
            </tr>
        </tbody>
    <% end %>
    <% elsif @model == "post_image" %>
    <h2>投稿 search for '<%= @value %>'</h2>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
            </tr>
        </thead>
        <% @datas.each do |post_image| %>
        <tbody>
            <tr>
                <th>
                    <%= attachment_image_tag(post_image.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40') %>

                </th>
                <th>
                    <%= post_image.title %>
                </th>
                <th>
                    <%= post_image.description %>
                </th>
                <th>
                    <%= link_to '詳細ページ', post_image_path(post_image.id) %>
                    
                </th>
            </tr>
        </tbody>
        <% end %>
    <% end %>
    </table>
  </div>
</div>