<table class='table'>
  <tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size: '100x100') %></tr>
  <tr>
	  <th><p>name</p></th>
	  <th><p><%= user.name %></p></th>
  </tr>
  <tr>
	  <th><p>introduction</p></th>
	  <th><p><%= user.introduction %></p></th>
  </tr>
  <tr>
    <%= link_to following_user_path(user) do %>
    <th>follows</th>
    <th><%= link_to user.followings.count, following_user_path(user.id) %></th>
    <% end %>
  </tr>
  <tr>
    <%= link_to followers_user_path(user) do %>
    <th>followers</th>
    <th><%= link_to user.followers.count, followers_user_path(user.id) %></th>
    <% end %>
  </tr>

</table>

<div class='row'>
  <%= link_to '',edit_admin_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
</div>

